.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-images {
  /* kita akan atur media screen unutk backgtound imagenya */
  /* background-image: url('assets/bg-triangle.svg'); */
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  /* height: 50vh; Mengatur tinggi sesuai dengan tinggi viewport (viewport height) */
  /* width: 100%; Mengatur lebar 100% */
  /* overflow: hidden; Menghilangkan scroll bar jika ada */
  
  background-size: contain;

}
@media screen and (min-width: 350px) {
  .bg-images {
    height: 39vh;
    margin: 120px auto;
  }
  .atur{
    margin-top:-20px
  }
  .respon{
    height:120vh;
  }
  .close{
    bottom:5rem;
  }
  .rules{
    height: 120vh;
  }
}
@media screen and (min-width: 375px) {
  .bg-images {
    height: 40vh;
    width: 60%;
    margin:auto;
  }
  
}
@media screen and (min-width: 390px) {
  .bg-images {
    height: 39vh;
    margin: 120px auto;
  }
  .atur{
    margin-top:-1px
  }
  .respon{
    height:100vh;
  }
  .close{
    bottom:15rem;
  }
}
@media screen and (min-width: 412px) {
  .bg-images {
    height: 35vh;
  }
}
@media screen and (min-width: 414px) {
  .bg-images {
    height: 39vh;
    margin: 120px auto;
  }
  .atur{
    margin-top:-1px
  }
  .respon{
    height:100vh;
  }
  .close{
    bottom:15rem;
  }
}
@media screen and (min-width: 1014px) {
  .bg-images {
    height: 50vh;
    margin:0px auto;
  }
  .atur{
    margin-top:-37px;
  }
  .respon{
    height:100vh;
  }
  .close{
    bottom:15rem;
  }
  .rules{
    height: 70vh;
  }
}
@media screen and (min-width: 1280px) {
  .bg-images {
    height: 50vh;
    margin:0px auto;
  }
  .atur{
    margin-top:-37px;
  }
  .respon{
    height:100vh;
  }
  .close{
    bottom:15rem;
  }
  .rules{
    height: 70vh;
  }
}
@media screen and (min-width: 1536px) {
  .bg-images {
    height: 50vh;
    margin:0px auto;
  }
  .atur{
    margin-top:-37px;
  }
  .respon{
    height:100vh;
  }
  .close{
    bottom:15rem;
  }
  .rules{
    height: 70vh;
  }
}